
html { min-height: 100%; }
body {
	margin: 0;
	font-family: "Libre Baskerville", "Constantia", serif;
	font-weight: 400;
	min-height: 100%;
	line-height: 1;
}

* { /* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Begin Theming */
body.light {
	color: #222222;
	background-color: #d9d9d9;
}
body.light #intro {
	border-color: #222222;
}
body.light #intro::before {
	border-color: #222222;
}
body.light #intro nav ul li a {
	border-color: #222222;
}
body.light #intro nav ul li a:hover,
body.light #intro ul.social-links li a:hover {
	/*border-color: #d9d9d9;*/
	/*background-color: #222222;*/
	/*color: #d9d9d9;*/
}

body.dark {
	color: #d9d9d9;
	background-color: #222222;
}
body.dark #intro,
body.dark #intro::before,
body.dark #intro nav ul li a {
	border-color: #d9d9d9;
}
body.dark #intro nav ul li a:hover,
body.dark #intro ul.social-links li a:hover {
	/*border-color: #222222;*/
	/*background-color: #d9d9d9;*/
	/*color: #222222;*/
}

/* Generic Styles */

h1, h2 {
	font-family: 'Josefin Slab', 'Roboto Slab', 'Museo', 'Helvetica Neue', sans-serif;
}

a.button {
	border: 1px solid #222222;
	padding: 0.5em 1em;
	border-radius: 2em;
	color: #222222;
	text-decoration: none;
	outline: none;
}
a.button:hover, a.button:focus {
	border-width: 3px;
	margin: -2px;
}

a[href] {
	color: #AA0000;
}
a[href]:hover, a[href]:focus {
	color: #FF0000;
}
a[href]:active {
	color: #880000;
}
a[href]:visited {
	color: #888888;
}

/* Default layout styles */

.container {
	max-width: 640px;
	margin: 0 auto;
}
.container h1 {
	text-align: center;
}
.container p {
	/*font-size: 1.2em;*/
	line-height: 1.5;
}
.container p.subtitle {
	color: #444444;
	font-style: italic;
}
/* BEGIN HEADER STYLING */
body > header {
	background-color: #f0f0f0;
	border-bottom: thin solid #CCCCCC;
	margin-bottom: 2em;
}

body > header .container {
	min-height: 10em;
	display: flex;
	align-items: flex-end;
}

body > header #logo {
	flex: 1 1 4em;
	display: block;
}
body > header #logo img {
	width: 4em;
	margin: 1em 0;
}
body > header h1 {
	flex: 1 1 auto;
	margin: 0.75em 0;
	font-weight: 100;
	text-align: left !important;
}
body > header h1 b {
	font-weight: bold;
}
body > header h1 a {
	text-decoration: none;
	color: #222222 !important;
}
body > header nav {
	flex: 1 1 auto;
}
body > header nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body > header nav ul li {
	flex: 1 1 auto;
}
body > header nav ul li a {
	display: block;
	color: #222222 !important;
	text-decoration: none;
	font-size: 1.25em;
	padding: 1em 0;
	border-bottom: thick solid transparent;
	text-align: center;
	outline: none;
}
body > header nav ul li:hover a, header nav ul li a:focus {
	border-color: #222222;
}
body > header nav ul li.selected a {
	border-color: #CC0000;
	font-weight: bold;
	color: #CC0000 !important;
}
/* END HEADER STYLING */
/* BEGIN JOURNAL STYLING */
.journal-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.journal-list ul li a {
	display: block;
	padding: 1em 1em;
	color: inherit;
	text-decoration: none;
	border-bottom: thin solid #CCCCCC;
}
.journal-list ul li:first-child a {
	border-top: thin solid #CCCCCC;
}
.journal-list ul li a:hover {
	background-color: #eeeeee;
}
.journal-list ul li a:hover .entry-title {
	text-decoration: underline;
	/*border-bottom: thin solid #222222;*/
}
.journal-list ul li a time {
	float: right;
	color: #888888;
}

.post h1 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0;
}
.post p.author {
	text-align: center;
}
.post p.subtitle {
	line-height: 1.5;
	/*font-size: 1.2em;*/
	color: #888888;
	text-align: center;
}
.post time {
	font-size: 1em;
	/*font-style: italic;*/
	color: #888888;
	text-align: center;
	display: flex;
	width: 60%;	
	margin: 2em auto;
}
.post time::before {
	border-bottom: thin solid #CCCCCC;
	content: '';
	width: 5em;
	flex: 1 0 auto;
	margin: 0.5em 1em 0.5em 0;
}
.post time::after {
	border-bottom: thin solid #CCCCCC;
	content: '';
	width: 5em;
	flex: 1 0 auto;
	margin: 0.5em 0 0.5em 1em;
}
.post hr {
	border: none;
	border-bottom: thin solid #CCCCCC;
}

article {
	/*font-size: 1.2em;*/
	line-height: 1.5;
}
article h2 {
	font-size: 1.5em;
	margin-bottom: 0;
}
article h2 + p,
article h2 + table,
article h2 + pre,
article h2 + blockquote,
article h2 + ul,
article h2 + ol {
	margin-top: 0;
}
article h3 {
	font-size: 1em;
	margin-bottom: 0;
}

article p {
	line-height: 1.5;
}

article ul, article ol {
	/*line-height: 1.5;*/
}

article blockquote {
	/*line-height: 1.5;*/
	font-style: italic;
	background-color: #eeeeee;
	border-left: thick solid #888888;
	padding: 0.75em 2em 0.75em 2em;
	color: #444444;
	margin: 0;
}

article code {
	border: thin solid #888888;
	padding: 0.1em 0.3em;
	background-color: #eeeeee;
	color: #444444;
	font-family: 'Monaco', 'Consolas', monospace;
	font-size: 0.8em;
}

article pre {
	border: thin solid #888888;
	padding: 1em;
	background-color: #eeeeee;
	color: #444444;
	font-family: 'Monaco', 'Consolas', monospace;
	/*font-size: ;*/
	/*line-height: 1.2;*/
	overflow: auto;
	max-height: 50em;
}
article pre code {
	font-family: inherit;
	padding: 0;
	border: none;

}
article table {
	border-top: thin solid #888888;
	border-bottom: thin solid #888888;
	border-collapse: collapse;
	/*line-height: 1.2;*/
	width: 100%;
	overflow: auto;
}
article table td {
	border-bottom: thin solid #CCCCCC;
	padding: 0.5em 1em;
}
article table th {
	border-bottom: medium double #888888;
	padding: 0.5em 1em;
	/*font-weight: 700;*/
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
}
article table tr:last-child td {
	border-bottom: none;
}
/* END JOURNAL STYLING */
/* BEGIN GRID ITEM STYLING */
.grid {
	list-style-type: none;
	padding: 0;
}
.grid li {
	display: block;
	width: 300px;
	float: left;
	margin: 5px;
}
.grid .grid-item {
	display: block;
	background-color: #eeeeee;
	color: inherit;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.grid .grid-item .grid-item-preview {
	overflow: hidden;
	height: 220px;
}
.grid .grid-item .grid-item-preview img {
	width: 320px;
	transform-origin: 160px 120px;
	transform: translate(-10px, -10px) scale(0.9375);
	transform-origin: 160px 120px;
	transition: 0.5s transform cubic-bezier(0.19, 1, 0.22, 1);
}
.grid .grid-item:hover .grid-item-preview img {
	transform-origin: 160px 120px;
	transform: translate(-10px, -10px) scale(1);
}
.grid .grid-item .grid-item-caption {
	padding: 1em;
	overflow: hidden;
}
.grid .grid-item h2.grid-item-title {
	margin: 0;
	line-height: 1.2;
	color: inherit;
}
.grid .grid-item p.grid-item-description {
	margin: 0;
	line-height: 1.2;
	color: inherit;
}
.grid .grid-item:hover .grid-item-caption {
	background-color: #CC0000;
}
.grid .grid-item:hover h2.grid-item-title {
	/*text-decoration: underline;*/
	color: #FFFFFF;
}
.grid .grid-item:hover p.grid-item-description {
	color: #CCCCCC;
}
/* END GRID ITEM STYLING */
.grid .grid-item .grid-item-caption time {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	font-size: 0.8em;
	line-height: 1;
	padding: 0.5em;
	display: block;
	margin-top: -2em;
	transition: 0.5s margin-top cubic-bezier(0.19, 1, 0.22, 1);
}
.grid .grid-item:hover .grid-item-caption time {
	margin-top: 0;
}
.grid .grid-item.unavailable {
	opacity: 0.5;
}
.grid .grid-item.unavailable:hover .grid-item-caption {
	background-color: #EEEEEE;
}
.grid .grid-item.unavailable:hover h2.grid-item-title,
.grid .grid-item.unavailable:hover p.grid-item-description {
	color: #222222;
}
.grid .grid-item.unavailable {
	cursor: default;
}

footer {

}
