@import "pygments-monokai.css";
.small-caps {
  font-size: 0.8em;
  text-transform: uppercase;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
.subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #666666;
}
.subtitle a[href] {
  color: #cccccc;
}
.subtitle a[href]:hover,
.subtitle a[href]:focus,
.subtitle a[href]:active,
.subtitle a[href]:visited {
  color: #cccccc;
  border-color: #cccccc;
}
.pixelated {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
h1,
h2 {
  color: #cccccc;
}
a {
  border-color: #cccccc;
}
a.button {
  color: #cccccc;
}
a.button:hover,
a.button:focus {
  color: #111111;
  background-color: #cccccc;
}
a.button:active {
  color: #999999;
  border-color: #999999;
}
a[href]:not(.button) {
  color: #cccccc;
  border-color: #cccccc;
}
a[href]:not(.button):visited {
  color: #cccccc;
}
a[href]:not(.button):hover,
a[href]:not(.button):focus {
  color: #ffffff;
  border-color: #ffffff;
}
a[href]:not(.button):active {
  color: #999999;
  border-color: #999999;
}
.page.container .picture {
  border-color: #cccccc;
}
html {
  font-size: 20px;
}
body {
  font-family: "Fira Sans", "Lato", "Helvetica Neue", sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  min-height: 100vh;
  line-height: 1;
  color: #999999;
  background-color: #111111;
  /* Background pattern modified version from subtlepatterns.com */
  background-image: url(/img/escheresque@2x.png);
  background-position: top center;
  background-size: 48px 30px;
  image-resolution: 2dppx;
  text-rendering: optimizeLegibility;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.nav-floating {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
  text-align: center;
}
.nav-floating .m-logo {
  margin: 0 auto 20px;
}
.nav-floating .m-logo img {
  width: 125px;
  height: 125px;
}
.nav-floating .m-logo:hover {
  opacity: 1;
}
.nav-floating ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}
@media screen and (min-width: 1200px) {
  .nav-floating {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .nav-floating {
    margin: 0 auto;
  }
  .nav-floating .m-logo img {
    width: 250px;
    height: 250px;
  }
  .nav-floating ul li {
    display: inline-block;
    margin: 0 20px;
  }
}
body > section {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  outline: none;
}
a.button {
  border: 1px solid;
  padding: 4px 8px;
  text-decoration: none;
  outline: none;
  cursor: default;
  line-height: 2;
  cursor: pointer;
}
a.button.more {
  font-size: 0.8rem;
}
a[href]:not(.button) {
  text-decoration: none;
}
a[href]:not(.button):hover,
a[href]:not(.button):focus {
  text-decoration: underline;
}
.flex-space {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.container {
  max-width: 832px;
  margin: 0 auto;
  padding: 40px 20px;
}
.wide-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
.page.content .container {
  max-width: 700px;
  font-size: 22px;
  -moz-font-feature-settings: "onum" on;
  -ms-font-feature-settings: "onum" on;
  -webkit-font-feature-settings: "onum" on;
  font-feature-settings: "onum" on;
}
.page.content .container .picture {
  margin: 0 auto;
  border: 1px solid;
  padding: 8px;
  overflow: hidden;
  background-image: url('/img/avatar512.jpg');
  background-size: 100%;
  background-clip: content-box;
  width: 256px;
  height: 256px;
}
@media screen and (min-width: 600px) {
  .page.content .container .picture {
    float: left;
    margin: 0 1em 0 0;
  }
}
header.bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
header.bg.content .container h1,
header.bg.content .container p,
header.bg.content .container time {
  padding: 0 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  display: fixed;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
}
header.bg.content .container h1 {
  padding-top: 20px;
}
header.bg.content .container time {
  color: rgba(255, 255, 255, 0.6);
}
header.bg .photo-credit {
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 14px;
  line-height: 1;
}
header.bg .photo-credit:before {
  content: 'Photo by ';
}
header.bg .photo-credit a[href] {
  border-bottom: none;
}
header.intro .container {
  padding: 0 20px 20px;
  max-width: 700px;
}
@media screen and (max-width: 400px) {
  header.intro .container h1 {
    font-size: 2rem;
  }
}
header.content .container {
  text-align: center;
}
header.content .container h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 1rem;
}
header.content .container h1 + p {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
header.content .container.full-height {
  min-height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header.content .container.full-height h1 {
  margin-top: 0;
}
header.content .container time {
  letter-spacing: 0.25em;
}
header.content .container .more-below {
  display: block;
  content: '';
  width: 48px;
  height: 16px;
  background: url(/img/more-indicator@2x.png);
  background-size: 48px 16px;
  margin: 0 auto;
}
section.content .container > h1:first-child,
section.content .container > h2:first-child {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
section.content .container > h1:first-child + p,
section.content .container > h2:first-child + p {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #666666;
}
section.content .container > h1:first-child + p a[href],
section.content .container > h2:first-child + p a[href] {
  color: #cccccc;
}
section.content .container > h1:first-child + p a[href]:hover,
section.content .container > h2:first-child + p a[href]:hover,
section.content .container > h1:first-child + p a[href]:focus,
section.content .container > h2:first-child + p a[href]:focus,
section.content .container > h1:first-child + p a[href]:active,
section.content .container > h2:first-child + p a[href]:active,
section.content .container > h1:first-child + p a[href]:visited,
section.content .container > h2:first-child + p a[href]:visited {
  color: #cccccc;
  border-color: #cccccc;
}
.post.content .container {
  max-width: 700px;
  font-size: 22px;
  -moz-font-feature-settings: "onum" on;
  -ms-font-feature-settings: "onum" on;
  -webkit-font-feature-settings: "onum" on;
  font-feature-settings: "onum" on;
}
footer .container {
  font-size: 0.8rem;
  text-align: center;
  color: #666666;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
footer .container ul {
  list-style-type: none;
  padding: 0;
}
footer .container li {
  display: inline-block;
  margin: 0 0.5em;
}
footer .container li:first-child {
  margin-left: 0;
}
footer .container li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  footer .container .copyright {
    display: block;
  }
}
.content {
  line-height: 1.5;
  overflow: hidden;
}
.content h1,
.content h2,
.content h3 {
  font-weight: 300;
}
.content h1 a[href],
.content h2 a[href],
.content h3 a[href] {
  text-decoration: none;
}
.content h1 a[href]:hover,
.content h2 a[href]:hover,
.content h3 a[href]:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
.content h1,
.content h2 {
  font-family: "Nixie One", "American Typewriter", monospace;
  margin-bottom: 0;
}
.content h1 {
  font-size: 2.25rem;
}
.content h2 {
  font-size: 1.5rem;
}
.content h3 {
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.content p.author {
  text-align: center;
}
.content p.soft {
  color: #666666;
}
.content p.lede {
  color: #666666;
  font-family: "Merriweather", "Georgia", serif;
  font-style: italic;
  font-size: 1.2rem;
}
.content time {
  color: #666666;
  font-weight: 300;
  text-transform: uppercase;
  -moz-font-feature-settings: "onum" off;
  -ms-font-feature-settings: "onum" off;
  -webkit-font-feature-settings: "onum" off;
  font-feature-settings: "onum" off;
}
.content hr {
  border: none;
  border-bottom: thin solid #333333;
}
.content blockquote {
  font-family: "Merriweather", "Georgia", serif;
  font-style: italic;
  border-left: 0.25rem solid #666666;
  color: #666666;
  margin: 1.5rem 0 1.5rem -1rem;
  padding-left: 0.75rem;
}
.content blockquote p {
  margin: 0;
}
.content pre {
  font-family: 'Monaco', 'Consolas', monospace;
  border: thin solid #333333;
  padding: 1rem;
  background-color: #222222;
  color: #999999;
  line-height: 1.2;
  overflow: auto;
  max-height: 50rem;
}
.content pre code {
  padding: 0;
  border: none;
  background: none;
  white-space: pre-wrap;
}
.content code {
  font-family: 'CamingoCode', 'Monaco', 'Consolas', monospace;
  border: thin solid #333333;
  padding: 0.1em 0.3em;
  background-color: #222222;
  color: #999999;
  font-size: 0.8em;
}
.content table {
  -moz-font-feature-settings: "onum" off;
  -ms-font-feature-settings: "onum" off;
  -webkit-font-feature-settings: "onum" off;
  font-feature-settings: "onum" off;
  border-top: thin solid #888888;
  border-bottom: thin solid #888888;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  font-size: 20px;
}
.content table td {
  border-bottom: thin solid #333333;
  padding: 0.5rem 1rem;
}
.content table th {
  border-bottom: medium double #888888;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  font-size: 0.8em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
.content table tr:last-child td {
  border-bottom: none;
}
.content table.bit-field {
  width: auto;
  margin: 0 auto;
}
.content table.bit-field td,
.content table.bit-field th {
  border: thin solid #888888;
  padding: 0.25rem 0.5rem;
  text-align: center;
}
.content table.bit-field tr.bits td {
  width: 2rem;
}
.content img,
.content canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.content .gist table {
  border: none;
}
.grid {
  list-style-type: none;
  padding: 1rem 0 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.grid-item {
  display: block;
  max-width: 320px;
  overflow: hidden;
  -ms-flex: 0 1 278px;
  -webkit-flex: 0 1 278px;
  flex: 0 1 278px;
}
.grid-item-preview {
  overflow: hidden;
}
.grid-item-caption {
  overflow: hidden;
  padding-top: 1rem;
}
.grid-item-actions {
  list-style-type: none;
  padding: 0;
}
.grid-item-actions .grid-item-action {
  display: inline-block;
  white-space: nowrap;
}
.grid-item-title,
.grid-item-description {
  margin: 0;
}
.list {
  padding-top: 20px;
}
.list-item {
  padding: 0 0 40px;
}
.list-item-title {
  margin: 0;
}
.list-item-description {
  margin: 0;
}
.list-item-actions {
  list-style-type: none;
  padding: 0;
}
.list-item-actions .list-item-action {
  display: inline-block;
  white-space: nowrap;
}
.list.big .list-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.list.big .list-item-preview {
  -ms-flex: 0 0 320px;
  -webkit-flex: 0 0 320px;
  flex: 0 0 320px;
  margin: 0 20px 20px;
}
.list.big .list-item-caption {
  -ms-flex: 1 0 320px;
  -webkit-flex: 1 0 320px;
  flex: 1 0 320px;
  margin-bottom: 20px;
}
@media screen and (max-width: 720px) {
  .list.big .list-item {
    max-width: 320px;
    margin: 0 auto;
  }
}
.list.big.alternate .list-item:nth-child(2n) {
  text-align: right;
}
.list.big.alternate .list-item:nth-child(2n) .list-item-preview {
  order: 2;
}
.list.big.alternate .list-item:nth-child(2n) .list-item-caption {
  order: 1;
}
.page h1,
.page h2 {
  color: #00ac64;
}
.page a {
  border-color: #00ac64;
}
.page a.button {
  color: #00ac64;
}
.page a.button:hover,
.page a.button:focus {
  color: #111111;
  background-color: #00ac64;
}
.page a.button:active {
  color: #004629;
  border-color: #004629;
}
.page a[href]:not(.button) {
  color: #00ac64;
  border-color: #00ac64;
}
.page a[href]:not(.button):visited {
  color: #00ac64;
}
.page a[href]:not(.button):hover,
.page a[href]:not(.button):focus {
  color: #13ff9c;
  border-color: #13ff9c;
}
.page a[href]:not(.button):active {
  color: #004629;
  border-color: #004629;
}
.page .page.container .picture {
  border-color: #00ac64;
}
.page ::selection,
.page ::-moz-selection {
  background-color: #00ac64;
  color: #111111;
}
.journal h1,
.journal h2 {
  color: #00aced;
}
.journal a {
  border-color: #00aced;
}
.journal a.button {
  color: #00aced;
}
.journal a.button:hover,
.journal a.button:focus {
  color: #111111;
  background-color: #00aced;
}
.journal a.button:active {
  color: #006287;
  border-color: #006287;
}
.journal a[href]:not(.button) {
  color: #00aced;
  border-color: #00aced;
}
.journal a[href]:not(.button):visited {
  color: #00aced;
}
.journal a[href]:not(.button):hover,
.journal a[href]:not(.button):focus {
  color: #54d0ff;
  border-color: #54d0ff;
}
.journal a[href]:not(.button):active {
  color: #006287;
  border-color: #006287;
}
.journal .page.container .picture {
  border-color: #00aced;
}
.journal ::selection,
.journal ::-moz-selection {
  background-color: #00aced;
  color: #111111;
}
.journal h3 {
  margin-top: 0;
}
.portfolio h1,
.portfolio h2 {
  color: #ed00ac;
}
.portfolio a {
  border-color: #ed00ac;
}
.portfolio a.button {
  color: #ed00ac;
}
.portfolio a.button:hover,
.portfolio a.button:focus {
  color: #111111;
  background-color: #ed00ac;
}
.portfolio a.button:active {
  color: #870062;
  border-color: #870062;
}
.portfolio a[href]:not(.button) {
  color: #ed00ac;
  border-color: #ed00ac;
}
.portfolio a[href]:not(.button):visited {
  color: #ed00ac;
}
.portfolio a[href]:not(.button):hover,
.portfolio a[href]:not(.button):focus {
  color: #ff54d0;
  border-color: #ff54d0;
}
.portfolio a[href]:not(.button):active {
  color: #870062;
  border-color: #870062;
}
.portfolio .page.container .picture {
  border-color: #ed00ac;
}
.portfolio ::selection,
.portfolio ::-moz-selection {
  background-color: #ed00ac;
  color: #111111;
}
.lab h1,
.lab h2 {
  color: #cccc00;
}
.lab a {
  border-color: #cccc00;
}
.lab a.button {
  color: #cccc00;
}
.lab a.button:hover,
.lab a.button:focus {
  color: #111111;
  background-color: #cccc00;
}
.lab a.button:active {
  color: #666600;
  border-color: #666600;
}
.lab a[href]:not(.button) {
  color: #cccc00;
  border-color: #cccc00;
}
.lab a[href]:not(.button):visited {
  color: #cccc00;
}
.lab a[href]:not(.button):hover,
.lab a[href]:not(.button):focus {
  color: #ffff33;
  border-color: #ffff33;
}
.lab a[href]:not(.button):active {
  color: #666600;
  border-color: #666600;
}
.lab .page.container .picture {
  border-color: #cccc00;
}
.lab ::selection,
.lab ::-moz-selection {
  background-color: #cccc00;
  color: #111111;
}
.lab .grid-item-title,
.portfolio .grid-item-title,
.lab .list-item-title,
.portfolio .list-item-title {
  font-weight: 300;
  text-transform: uppercase;
}
.lab .grid-item-title .year,
.portfolio .grid-item-title .year,
.lab .list-item-title .year,
.portfolio .list-item-title .year {
  color: #666666;
}
.lab .grid-item-actions,
.portfolio .grid-item-actions,
.lab .list-item-actions,
.portfolio .list-item-actions,
.lab .grid-item-description,
.portfolio .grid-item-description,
.lab .list-item-description,
.portfolio .list-item-description {
  font-size: 0.8rem;
}
