---
layout: default
---

<header class="intro content">
<div class="container full-height">
<div class="flex-space"></div>
<h1>Hey, I'm Maxwell.</h1>
<p>I am a student and frontend developer. I also design websites, apps, and other digital media. Most of my time is spent obsessing over the small details on my experiments. I enjoy indie games, mountain biking, rocketry, and oddly enough, cooking.<br>Still curious? <a href="/about">Discover more about me</a>.</p>
<p class="subtitle">Scroll down for more</p>
</div>
</header>
<section class="journal content">
<div class="container">
<h2>From My Journal</h2>
<p>My thoughts &amp; <a href="/journal">journal</a> entries</p>
<h3>Latest Journal Entries</h3>
<div class="small list">
{% for entry in site.posts limit:5 %}
	<div class="list-item">
		<h4 class="list-item-title">
			<a href="{{ entry.url }}" class="entry-title">{{ entry.title }}</a>
			<time datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: "%m/%Y" }}</time>
		</h4>
		<p class="list-item-description">{{ entry.description }}</p>
	</div>
{% endfor %}
</div>
<p><a href="/journal" class="more button">More journal entries</a></p>
<h3>Notable Journal Entries</h3>
<div class="small list">
{% for entry in site.posts limit:3 %}
{% if entry.feature %}
	<div class="list-item">
		<h4 class="list-item-title">
			<a href="{{ entry.url }}" class="entry-title">{{ entry.title }}</a>
			<time datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: "%m/%Y" }}</time>
		</h4>
		<p class="list-item-description">{{ entry.description }}</p>
	</div>
{% endif %}
{% endfor %}
</div>
</div>
</section>
<section class="lab content">
<div class="container">
<h2>From My Lab</h2>
<p>Active &amp; published <a href="/lab">lab</a> experiments</p>
<p>In my spare time I enjoy exploring miscellaneous mathematical or computer-science related topics that tend to consume my mind for a while through programming and visualization. Head over to my <a href="/lab">lab</a> for a full listing including inactive and unpublished projects. More code and projects can be found at my <a href="https://github.com/mdciotti">GitHub profile</a>.</p>
<h3>Active Experiments</h3>
</div>
<div class="grid wrap wide-container">
{% for experiment in site.experiments reversed | sort:'date' %}
{% unless experiment.tags contains 'inactive' or experiment.hidden %}
	<div class="grid-item">
		<div class="grid-item-preview"><img src="/img/preview/{{ experiment.preview_img_src }}"></div>
		<div class="grid-item-caption">
			<h3 class="grid-item-title">
				{{ experiment.title }}
				<span class="year">{{ experiment.date | date: "%Y" }}</span>
			</h3>
			<ul class="grid-item-actions">
				{% if experiment.available %}
				<li class="grid-item-action"><a href="{{ experiment.location }}" class="button">Launch Experiment</a></li>
				{% endif %}
				<li class="grid-item-action"><a href="{{ experiment.source }}" class="button">GitHub</a></li>
			</ul>
			<div class="grid-item-description">{{ experiment.output }}</div>
		</div>
	</div>
{% endunless %}
{% endfor %}
</div>
</section>
<section class="portfolio content">
<div class="container">
<h2>From My Portfolio</h2>
<p>Professional <a href="/portfolio">projects</a> &amp; designs</p>
</div>
<div class="wide-container">
<div class="big list">
	{% for project in site.projects reversed sort:'date' %}
	{% if project.feature %}
		<div class="list-item">
			<div class="list-item-preview"><img src="/img/preview/{{ project.preview_img_src }}"></div>
			<div class="list-item-caption">
				<h3 class="list-item-title">{{ project.title }} <span class="year">{{ project.date | date: "%Y" }}</span></h3>
				<ul class="list-item-actions">
					{% if project.available %}<li class="list-item-action"><a href="{{ project.location }}" class="button">View {% if project.type %}{{ project.type }}{% else %}Project{% endif %}</a></li>{% endif %}
					{% if project.source %}<li class="list-item-action"><a href="{{ project.source }}" class="button">GitHub</a></li>{% endif %}
				</ul>
				<div class="list-item-description">{{ project.output }}</div>
			</div>
		</div>
	{% endif %}
	{% endfor %}
</div>
</div>
</section>
