---
layout: default
---

<header class="intro content">
<div class="container full-height">
{% include nav.html %}
<div class="flex-space"></div>
<h1>Hey, I'm Maxwell.</h1>
<p class="soft">I am a student and technophile. I also design and develop websites, apps, and other digital media. Much of my time is spent obsessing over the small details on my experiments. I enjoy photography, indie games, and oddly enough, cooking.</p>
<p class="subtitle">Still curious? Discover more <a href="/about/">about me</a>.</p>
<div class="more-below"></div>
</div>
</header>

<section class="journal content">
<div class="container">
<h2>From My Journal</h2>
<p>My thoughts &amp; <a href="/journal/">journal</a> entries</p>
<h3>Latest Journal Entries</h3>
<div class="small list">
{% for entry in site.posts limit:3 %}
{% include entry.html %}
{% endfor %}
</div>
<p><a href="/journal/" class="more button">More journal entries</a></p>
<h3>Notable Journal Entries</h3>
<div class="small list">
{% for entry in site.posts limit:3 %}
{% if entry.feature %}
{% include entry.html %}
{% endif %}
{% endfor %}
</div>
</div>
</section>

<section class="lab content">
<div class="container">
<h2>From My Lab</h2>
<p>Active &amp; published <a href="/lab/">lab</a> experiments</p>
<p>In my spare time I enjoy exploring miscellaneous mathematical or computer-science related topics that tend to consume my mind for a while through programming and visualization. Head over to my <a href="/lab/">lab</a> for a full listing including inactive and unpublished projects. More code and projects can be found at my <a href="https://github.com/mdciotti">GitHub profile</a>.</p>
<h3>Active Experiments</h3>
</div>
<div class="wide-container grid">
{% for experiment in site.experiments reversed | sort:'date' %}
{% unless experiment.tags contains 'inactive' or experiment.hidden %}
{% include experiment.html %}
{% endunless %}
{% endfor %}
</div>
</section>

<section class="portfolio content">
<div class="container">
<h2>From My Portfolio</h2>
<p>Professional <a href="/portfolio/">projects</a> &amp; designs</p>
</div>
<div class="wide-container big list">
{% for project in site.projects reversed sort:'date' %}
{% if project.feature %}
{% include project.html %}
{% endif %}
{% endfor %}
</div>
</section>
