<footer>
<div class="container">
	<navigation>
		<ul>
			<li class="default-colors"><a href="/">Home</a></li>
			<li class="about-colors"><a href="/about">About</a></li>
			<li class="primary-colors"><a href="/journal">Journal</a></li>
			<li class="secondary-colors"><a href="/portfolio">Portfolio</a></li>
			<li class="tertiary-colors"><a href="/lab">Lab</a></li>
		</ul>
	</navigation>
	<section>
		<span class="copyright">&copy; 2014&ndash;2015 Maxwell Ciotti.</span>
		<a href="https://twitter.com/mdciotti" class="twitter">@mdciotti on Twitter</a>.
	</section>
</div>
</footer>
