<footer>
<div class="container">
	<navigation>
		<ul>
			<li><a href="/">Home</a></li>
			<li class="journal"><a href="/journal/">Journal</a></li>
			<li class="page"><a href="/about/">About</a></li>
			<li class="lab"><a href="/lab/">Lab</a></li>
			<li class="portfolio"><a href="/portfolio/">Portfolio</a></li>
		</ul>
	</navigation>
	<section>
		<span class="copyright">&copy; 2014&ndash;2016 Maxwell Ciotti.</span>
		<a href="https://twitter.com/mdciotti" class="twitter">@mdciotti on Twitter</a>.
	</section>
</div>
</footer>
