	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- <title>{% if page.title %}{{ page.title | append:' × Maxwell Ciotti' }}{% else %}{{ site.name }}{% endif %}</title> -->
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">
		<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}/">

		<!-- Syntax Highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">

		<!-- Custom fonts -->
		<link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,700|Libre+Baskerville:400,700,400italic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/fonts/rondo/style.css" type="text/css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- Custom JS -->
		<script src="/js/main.js"></script>

		{% if page.intro %}
		<!-- Intro Page -->
		<script src="/js/intro.js"></script>
		<link rel="stylesheet" href="/css/intro.css">
		{% endif %}

		{% if page.math %}
		<!-- // <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
		<!-- TODO: Switch to KaTeX when it has more features -->
		<!-- // <script src="/vendor/katex/katex.min.js"></script> -->
		<!-- <link rel="stylesheet" type="text/css" href="/vendor/katex/katex.min.css"> -->
		{% endif %}

		{% if page.scripts %}
		{% for path in page.scripts %}
		<script src="/js/{{ path }}"></script>
		{% endfor %}
		{% endif %}

		<!-- favicon -->
		<link href="/img/logo.png" rel="icon" type="image/png">
	</head>
