---
layout: default
title: Portfolio
---

<h1>Portfolio: Projects &amp; Designs</h1>
<!-- <p></p> -->
<section class="portfolio">
	<ul class="grid">
	{% for project in site.projects reversed | sort: 'date' %}
		<li class="grid-item{% unless project.available %} unavailable{% endunless %}">
			<a href="{% if project.available %}{{ project.location }}{% else %}javascript:void(0){% endif %}">
				<div class="grid-item-preview"><img src="{{ project.preview_img_src }}"></div>
				<div class="grid-item-caption">
					<h2 class="grid-item-title">{{ project.title }}</h2>
					<time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date_to_string }}</time>
					<p class="grid-item-description">{{ project.description | downcase }}</p>
				</div>
			</a>
		</li>
	{% endfor %}
	</ul>
</section>
