---
layout: default
title: Journal
---

<div class="m-logo">
	<a href="/"><img src="{{ site.logo }}" width="125" height="125"></a>
</div>
<section class="journal content">
<div class="container">
<h1>Journal Archive</h1>
<p>A complete index of my journal entries</p>
<p>Would you like to receive the latest posts as they are published?<br>Go ahead and <a href="/journal/feed.xml">Subscribe</a>.</p>

<div class="list">
	{% for entry in site.posts %}
	{% include entry.html type='long' %}
	{% endfor %}
</div>
</div>
</section>
