---
layout: default
title: Lab
---

<h1>Lab Experiments</h1>
<p>In my spare time I enjoy exploring miscellaneous mathematical or computer-science related topics that tend to consume my mind for a while through programming and visualization. Below you will find several experiments which have resulted from these explorations.</p>
<p><em>Please note: many of these experiments have not been fully tested for cross-browser support. Chrome tends to have the least trouble for me.</em></p>
<section class="lab-list">
	<ul class="grid">
	{% for experiment in site.experiments reversed | sort: 'date' %}
		<li>
			<a href="{% if experiment.available %}{{ experiment.location }}{% else %}javascript:void(0){% endif %}" class="grid-item{% unless experiment.available %} unavailable{% endunless %}">
				<div class="grid-item-preview"><img src="{{ experiment.preview_img_src }}"></div>
				<div class="grid-item-caption">
					<h2 class="grid-item-title">{{ experiment.title }}</h2>
					<time datetime="{{ experiment.date | date_to_xmlschema }}">{{ experiment.date | date_to_string }}</time>
					<p class="grid-item-description">{{ experiment.description | downcase }}</p>
				</div>
			</a>
		</li>
	{% endfor %}
	</ul>
</section>
