---
layout: default
title: Lab
---

<div class="m-logo">
	<a href="/"><img src="{{ site.logo }}" width="125" height="125"></a>
</div>
<section class="lab content">
<div class="container">
<h2>Lab Experiments</h2>
<p>A complete index of my lab experiments</p>

<p>In my spare time I enjoy exploring miscellaneous mathematical or computer-science related topics that tend to consume my mind for a while through programming and visualization. More code and projects can be found at my <a href="https://github.com/mdciotti">GitHub profile</a>.</p>

<p class="soft"><em>Please note: many of these experiments have not been tested for cross-browser support.</em></p>

</div>
<div class="wide-container grid">
	{% for experiment in site.experiments reversed | sort: 'date' %}
	{% unless experiment.hidden %}
	<div class="grid-item">
		<div class="grid-item-preview"><img src="/img/preview/{{ experiment.preview_img_src }}" width="278" height="208"></div>
		<div class="grid-item-caption">
			<h3 class="grid-item-title">{{ experiment.title | upcase }} <span class="year">{{ experiment.date | date: "%Y" }}</span></h3>
			<ul class="grid-item-actions">
				{% if experiment.available %}<li class="grid-item-action"><a href="{{ experiment.location }}" class="button">Launch Experiment</a></li>{% endif %}
				<li class="grid-item-action"><a href="{{ experiment.source }}" class="button">GitHub</a></li>
			</ul>
			<div class="grid-item-description">{{ experiment.output }}</div>
		</div>
	</div>
	{% endunless %}
	{% endfor %}
</div>
</section>
