<!DOCTYPE html>
<html>
	
	{% include head.html %}

	<body class="light">

		<header>
			<div class="container">
				<h1 class="title"><a href="/">Maxwell<b>Ciotti</b></a></h1>
				<div id="logo"><img src="/img/logo.png"></div>
				<nav>
					<ul>
						<li{% if page.title contains "Journal" %} class="selected"{% endif %}><a href="/journal">journal</a></li>
						<li{% if page.title contains "Portfolio" %} class="selected"{% endif %}><a href="/portfolio">portfolio</a></li>
						<li{% if page.title contains "Lab" %} class="selected"{% endif %}><a href="/lab">lab</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			{{ content }}
		</div>
		

	</body>
</html>
