
@background: #111111;
@background-light: #222222;
@background-box: #222222;
@foreground: #CCCCCC;
@foreground-light: #AAAAAA;
@soft: #666666;
@primary: #AA0000;
@primary-light: #FF0000;
@primary-dark: #880000;
@line-color: #333333;
@line-color-dark: #888888;
@line-color-darker: #AAAAAA;
