.small-caps {
	// OpenType Small Caps (not supported everywhere)
	// -ms-font-feature-settings: "smcp";
	// -moz-font-feature-settings: "smcp";
	// -webkit-font-feature-settings: "smcp";
	// font-feature-settings: "smcp";

	// Fake it
	font-size: 0.8em;
	text-transform: uppercase;
}

.header() {
	font-family: "Nixie One", "American Typewriter", monospace;
}

.sans() {
	font-family: "Fira Sans", "Lato", "Helvetica Neue", sans-serif;
}

.serif() {
	font-family: "Merriweather", "Georgia", serif;
}

.monospace() {
	font-family: 'Monaco', 'Consolas', monospace;
}

.code() {
	font-family: 'CamingoCode', 'Monaco', 'Consolas', monospace;
}

.text-figures(@toggle: on) {
	-moz-font-feature-settings: "onum" @toggle;
	-ms-font-feature-settings: "onum" @toggle;
	-webkit-font-feature-settings: "onum" @toggle;
	font-feature-settings: "onum" @toggle;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.perspective(@amount: 1px) {
	perspective: @amount;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
}

.perspective-layer(@depth: 0px, @perspective: 1px) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// transform: translateZ(@depth);
	transform: translateZ(@depth) scale(1 - @depth / @perspective);
}

.subtitle {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 2px;
	color: @soft;

	a[href] {
		color: @foreground;

		&:hover, &:focus, &:active, &:visited {
			color: @foreground;
			border-color: @foreground;
		}
	}
}

.flex(@direction: row, @wrap: nowrap, @justify: flex-start, @align: stretch, @rowspace: stretch) {
	.flex-box;
	.flex-direction(@direction);
	.flex-wrap(@wrap);
	.flex-justify(@justify);
	.flex-align-items(@align);
	.flex-align-content(@rowspace);
}

.flex-box() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-direction(@direction: row) {
	-ms-flex-direction: @direction;
	-webkit-flex-direction: @direction;
	flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) {
	-ms-flex-wrap: @wrap;
	-webkit-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

.flex-justify(@justify: flex-start) {
	-ms-justify-content: @justify;
	-webkit-justify-content: @justify;
	justify-content: @justify;
}

.flex-align-items(@align: stretch) {
	-ms-align-items: @align;
	-webkit-align-items: @align;
	align-items: @align;
}

.flex-align-content(@rowspace) {
	-ms-align-content: @rowspace;
	-webkit-align-content: @rowspace;
	align-content: @rowspace;
}

.flex-item(@grow: 0, @shrink: 0, @basis: auto, @align: auto) {
	-ms-flex: @grow @shrink @basis;
	-webkit-flex: @grow @shrink @basis;
	flex: @grow @shrink @basis;

	& when not (@align = auto) {
		-ms-align-self: @align;
		-webkit-align-self: @align;
		align-self: @align;
	}
}

.pixelated {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

.no-select() {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
